<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.dto.User">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_number" jdbcType="BIGINT" property="userNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_number, password, create_time, update_time, nickname
  </sql>
  <select id="selectUserByNumber" parameterType="long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from USER
    WHERE USER_NUMBER = #{number}
  </select>

</mapper>